.wy-table-responsive table td {
    white-space: normal;
}

.scrollable-table {
    overflow-x: auto;
}

.custom-table table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}
