.wy-table-responsive table td {
    white-space: normal;
}

table {
        border-collapse: collapse;
        font-size: 1.6em;
        width: 1000px;
}
table tr td:first-child {
        position: absolute;
        width: 7em;    /* match margin-left below */
        left: 0;
        top: auto;
        background-color: yellow;
        border-top-width: 1px;
}
td {
        border-collapse: collapse;
        border: 1px solid #ccc;
        padding: 3px;
}
div {
        width: 500px;
        overflow-x: scroll;
        margin-left: 12em;  /* match width above */
        overflow-y: visible;
        padding: 0;
}
